<div id="pins" class="transitions-enabled wrapper2 wrapper_padding index">
        <% @pins.each do |pin| %>
        <div class="box col3">
          <div class="thumbnail">
            <%= link_to image_tag(pin.image.url(:medium)), pin %>
               <div class="caption">
                  <div class="pin_title">
                    <h4><%= pin.title %></h4>
                  </div>
                  <p><%= pin.description %></p>
                  <%= link_to pin.user.name, pin.user %>
                </div>
                
            </div>
        </div>
        <% end %>
</div>
