<div class="super_skinny_wrapper show">
    <div class="panel panel-default">
        <div class="panel-heading center">
            <h3 class="panel-title"><%= @pin.title %></h3>
         </div>
          <div class="panel-body center">
            <%= image_tag @pin.image.url, :class => "image_panel" %>
          </div>
            <p id="description">Description:</p>
            <p><%= @pin.description %></p>

    </div>
</div>
