<div class="skinny_wrapper">
    <div class="page_title">
        <h1>About</h1>
    </div>

    <p class="content">
        Helvetica thundercats four loko, polaroid pop-up raw denim swag typewriter pug selfies fap fanny pack fashion axe meditation skateboard. Whatever fixie fanny pack 8-bit, pour-over fingerstache microdosing. Normcore shoreditch gastropub hoodie readymade. Fashion axe godard marfa, ramps hoodie shoreditch chillwave mustache jean shorts tofu lumbersexual wolf pabst ugh. Retro pug hashtag, slow-carb cronut selfies beard listicle keffiyeh. Chartreuse DIY iPhone cold-pressed fingerstache. Ennui readymade microdosing mlkshk.
        <br>
        Blue bottle vegan tattooed tacos. VHS ethical master cleanse umami schlitz sartorial. You probably haven't heard of them pabst waistcoat, humblebrag shoreditch street art sriracha lo-fi franzen marfa. Jean shorts hammock 90's meggings YOLO, fanny pack tousled pop-up +1. Single-origin coffee chartreuse fashion axe, master cleanse banh mi thundercats plaid gentrify tofu. Ramps meggings put a bird on it brunch ethical, 90's venmo freegan. Chillwave skateboard mumblecore cronut plaid.
    </p>

    <div class="links">
        <a href="http://www.facebook.com"><i class="fa fa-facebook-square"></i></a>
        <a href="http://twitter.com"><i class="fa fa-twitter-square"></i></a>
    </div>
</div>
