<div class="skinny_wrapper">
    <div class="page_title">
        <h1>Contact Us</h1>
    </div>

    <p class="content">
        If you have a problem...<br>
        PLEASE DON'T TRY TO CONTACT US, IS YOUR PROBLEM NOT OURS!<br><br>
        Nevertheless, if you still think our help is essential, the problem is with something in relation with our app, or you only want to complain to us. Send us an email, perhaps we won't reply to you, but talk about something or complain to someone might make you feel better. 😂🖕
    </p>

    <div class="links">
        <a href="mailto:contact@pinboard.com"><i class="fa fa-envelope"></i></a>
    </div>
</div>
