$principal: #32526E;
$pHover: #21394f;
$secondary: #81B9C3;
$dark: #424652;
$white: #fff;
$highlight: #FF884D;
$light-gray: #ededed;
$gray: #939393;
$red: #ff4c4c;

.index{
    .col3{
        padding: 0 .5em;
        .thumbnail{
            position:relative;
            padding: 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .caption{
                padding: 0;
            }
            .pin_title{
                padding: 9px;
                h4{
                    font-weight: 700;
                    font-size: 1em;
                }
                .likes{
                    color: $gray;
                }
                border-bottom: 1px solid $light-gray;
            }
            .pin_desc{
                padding: 9px;
                p{
                    font-size: 1em;
                    margin: 0;
                }
                border-bottom: 1px solid $light-gray;
            }
            .pin_user{
                padding: 9px;
                img{
                    float:left;
                    margin-right: .5em;
                }
                a{
                    padding-left: 2px;
                    color: $dark;
                    text-decoration: none;
                }
                &:hover{
                    background-color: $light-gray;
                }
            }
            a{
                display: block;
                max-height: 785px;
                overflow: hidden;
            }
            img{
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            .pin_hover,.pin_hover_left{
                display: none;
            }
            &:hover{
                .pin_hover_left{
                    display: block;
                    top: .2em;
                    left: .3em;
                    a{
                        text-decoration: none;
                        font-family: 'Damion', cursive;
                        letter-spacing: 2px;
                    }
                    font-size: 2em;
                    position: absolute;
                }
                .pin_hover{
                    display: block;
                    width: inherit;
    			    height: inherit;
                    top:.2em;
        		    right:.3em;
                    a{
                        color: $red;
                        text-decoration: none;
                    }
                    font-size: 2em;
        		    position: absolute;
                    .text{
                        text-transform: uppercase;
                        font-size: 1em;
                        display: none;
                        background-color: $white;
                        color: $dark;
                    }
                    .change-icon > .fa:nth-child(2) {
                      display: none;
                    }
                    &:hover{
                        .text{
                            display: block;
                        }
                        .change-icon > .fa:nth-child(1) {
                          display: none;
                        }
                        .change-icon > .fa:nth-child(2) {
                          display: inherit;
                        }
                    }
                }

            }
        }
    }
}

.show{
    .user_options{
        width: auto;
        height: 5rem;
        text-align: left;
        .pin_like{
            display: inline-block;
            text-align: right;
            a{
                color: $red;
                text-decoration: none;
            }
            font-size: 2em;
            .change-icon > .fa:nth-child(2) {
              display: none;
            }
            .change-icon:hover > .fa:nth-child(1) {
              display: none;
            }
            .change-icon:hover > .fa:nth-child(2) {
              display: inherit;
            }
        }
        .pin_it{
            display: inline-block;
            text-align: left;
            margin-right: .3em;
            a{
                text-decoration: none;
                font-family: 'Damion', cursive;
            }
            font-size: 2em;
            .btn-pin-it{
                padding-right: .2em;
                color: $white;
                background-color: $principal;
                //Border radius
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
                border-radius: 8px;

                border: 1px solid $light-gray;
                &:hover{
                    background-color: $pHover;
                }
            }
        }
    }
    .admin_options{
        letter-spacing: 5px;
    }
    .panel-body{
        padding: 0;
    }
    h3{
        font-weight: 500;
        font-size: 3rem;
    }
    .image_panel{
        width: 100%;
        height: auto;
    }
    .pin_display{
        padding: 1.5em 0;
        font-size: 1.6rem;
        .description{
            text-align: left;
        }
        .time{
            text-align: right;
            color: $gray;
        }
    }
    .pin_user{
        padding: 1.5em 0;
        a{
            text-decoration: none;
            color: $dark;
            font-weight: 700;
            padding: 0 1em;
            &:hover{
                color: $secondary;
            }
            img{
                width: 45px;
                height: 45px;
            }
        }
    }
}

.img-centered{
    display: block;
    max-height: 500px;
    overflow: hidden;
    text-align: center;
}
