$principal: #32526E;
$secondary: #81B9C3;
$dark: #424652;
$white: #fff;
$highlight: #FF884D;
$light-gray: #ededed;
$gray: #939393;
$red: #ff4c4c;

.user_show{
    background-color: $light-gray;

    .header{
        background-color: $white;
        margin-top: -10px;
        padding: 2em 0;
        z-index: 2;
        box-shadow: 1px 1px 5px #888888;
        a.sign_out{
            position: absolute;
            right: 3.5%;
        }
        a.edit{
            position: absolute;
            right: 3.5%;
        }
        .img-circle{
            width: 75px;
            height: 75px;
            margin: 0 auto;
            display: block;
        }
        h1{
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
        }
    }
    #pins{
        margin-bottom: 3em;
    }
    .finish{
        color: $gray;
        font-size: 3rem;
    }
}
