$principal: #32526E;
$secondary: #81B9C3;
$dark: #424652;
$white: #fff;
$highlight: #FF884D;
$light-gray: #ededed;
$gray: #939393;
$red: #ff4c4c;

.user_show{
    background-color: $light-gray;

    .header{
        background-color: $white;
        margin-top: -10px;
        padding: 2em 0 0 0;
        z-index: 2;
        box-shadow: 1px 1px 5px #888888;
        a.sign_out{
            position: absolute;
            right: 3.5%;
        }
        a.edit{
            position: absolute;
            right: 3.5%;
        }
        .img-circle{
            width: 75px;
            height: 75px;
            margin: 0 auto;
            display: block;
        }
        h1{
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
        }
        .category{
            text-align: center;
            border-top: 1px solid $light-gray;
            a{
                color: $gray;
                &:hover{
                    color: $principal;
                }
            }
            #categories {
                padding: 1.5em;
                height: 100%;
                li{
                    position: relative;
                    padding: 2em 4.5em 1.5em 7.5em;
                    display: inline;
                    .number{
                        font-size: 1.5em;
                        font-weight: 700;
                        position: absolute;
                        width: 50%;
                        left: 25%;
                        top: 0;
                    }
                    .type{
                        position: absolute;
                        bottom: 10%;
                        left: auto;
                        width: 50%;
                        left: 25%;
                    }
                }
            }
        }
    }
    #pins{
        margin-bottom: 3em;
    }
    .finish{
        color: $gray;
        font-size: 3rem;
    }
}
