/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require 'masonry/transitions'
 *= require_self
 */

 @import 'normalize';
 @import "font-awesome";

 $principal: #32526E;
 $secondary: #81B9C3;
 $dark: #424652;
 $white: #fff;
 $highlight: #FF884D;
 $light-gray: #ededed;
 $green: #41C3AC;

 *{
     font-family: 'Raleway', sans-serif;
     box-sizing: border-box;
 }

 .wrapper{
	width: 90%;
	margin: 0px auto;
}

.wrapper2{
    width: 85%;
	margin: 0px auto;
}

.skinny_wrapper{
	width: 80%;
	max-width: 760px;
	margin: 0px auto;
}

.super_skinny_wrapper{
	width: 60%;
	max-width: 570px;
	margin: 0px auto;
}

.wrapper_padding{
	padding: 4rem 0;
}

.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}

h1,h2,h3,h4,h5,h6,p{
    color: $dark;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 2rem;
}

h3{
	font-size: 1.75rem;
}

h4{
	font-size: 1.375rem;
}

h5{
	font-size: 1.25rem;
}

h6{
	font-size: 1rem;
}

p,li{
	font-size: 1.1rem;
	line-height: 1.75;
}

p,ul,ol{
	margin: 0 0 1.6em 0;
}

#main-navigation{
    box-shadow: 1px 1px 5px #888888;
    background-color: $light-gray;
    padding: .80em 5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $secondary;
    //Border radius
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    .brand{
        font-weight: 700;
        font-size: 3rem;
        margin: auto;
        float: left;
        color: $principal;
        &:hover{
            color: $secondary;
        }
    }
    nav{
        float: right;
        padding-top: 1.4rem;
        a{
            color: $principal;
            text-decoration: none;
            margin: 0 1rem;
			font-size: 1em;
            &:hover{
                color: $secondary;
            }
        }
    }
}

.pin{
    font-size: 20px;
    text-align: center;
    padding-top: 4px;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: $principal;
    color: $light-gray;
    position:fixed;
    bottom: 20px;
    right: 20px;
    &:hover{
        color: $light-gray;
        background-color: $secondary;
    }
}

.sign_up_form{
    //Border radius
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

    color: $white;
    margin-top: 6rem;
    padding: 1rem;
    background-color: $principal;
    h2{
        color: $white;
        text-align: center;
    }
    .center{
        text-align: center;
        a{
            text-decoration: none;
            color: $white;
            &:hover{
                color: $secondary;
            }
        }
    }
}


.center{
    text-align: center;
}

/* To change from an icon to another at hover!!
    .change-icon > .fa:nth-child(2) {
      display: none;
    }
    .change-icon:hover > .fa:nth-child(1) {
      display: none;
    }
    .change-icon:hover > .fa:nth-child(2) {
      display: inherit;
    }
*/


 @import "pages";
 @import "pins";
 @import "users";
