<header id="main-navigation" class="clearfix">
    <%= link_to <i class="fa fa-pinterest"></i>"PinBoard", root_path, class:"brand" %>
    <nav>
        <% if user_signed_in? %>
            
        <% else %>
            <%= link_to "About", pages_about_path %>
            <%= link_to "Contact", pages_contact_path %>
        <% end %>
    </nav>
</header>
